@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.main-chart-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 30px 30px 50px 30px;
    border: #EC1C24 solid 2px;
    border-radius: 30px;
    position: relative;
}

.chart-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    width: calc(50% - 15px);
    height: 60vh;
    border-radius: 20px;
    position: relative;
}

.chart-graphic {
    height: 90%;
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.title-chart-sale-revenue {
    margin-top: 4%;
}

.shortcut-bussiness {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-shortcut-bussiness {
    text-align: center;
    text-decoration: none;
    background-color: #EC1C24;
    width: 30%;
    padding: 10px;
    color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: #ffffff solid 5px;
    border-radius: 30px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-shortcut-bussiness:hover {
    background-color: #ff0008;
    scale: 1.02;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-shortcut-bussiness:active {
    background-color: #9f1217;
    scale: 0.9;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}