@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.main-link-update-product {
    margin: 4% 0;
    width: 90%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    background-color: #263767;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.link-update-product {
    color: #263767;
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link-update-product:hover {
    color: #ffffff;
    background-color: #EC1C24;
    text-align: center;
    font-weight: 600;
}

.link-update-product:active {
    background-color: #9c0005;
    scale: 0.99;
}