@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.main-list-product-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.title-list-product-stock {
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 2%;
    color: #263767;
}

.categorie-list-product-stock {
    display: flex;
    justify-content: center;
    width: 100%;
}


/** TABLE **/

.table-product-stock {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.table-product-stock table {
    width: 100%;
    border-radius: 10px;
}

.table-product-stock > table > thead > tr > td {
    padding: 10px 10px;
    background-color: #263767;
    color: #ffffff;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: large;
    font-weight: 600;
}

.table-product-stock > table > tbody > tr > td {
    padding: 10px 0px;
    background-color: #f5f8ff;
    color: #263767;
    border: #263767 solid 1px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
}

.table-product-stock > table > tbody > tr:hover {
    background-color: #263767;
}

