@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.main-card-staff {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
    border-radius: 30px;    
    border: #EC1C24 solid 2px;
}

.item-card-staff {
    margin: 10px;
    width: 30%;
    height: 65vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.text-content-card-staff {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: 2;
    padding: 20px;
    color: #ffffff;
    background: linear-gradient(0deg, #000000da 0%, #0000006b 50%, #00000000 100%);
}

.mini-avt-card-staff {
    width: 12%;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    border: #ffffff solid 2px;
}

.name-card-staff {
    position: relative;
    z-index: 2;
    font-family: "Lexend Deca", sans-serif;
    text-shadow: 0px 3px 10px #000000c4;
}

.avt-card-staff {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nickname-card-staff {
    position: relative;
    z-index: 2;
    font-family: "Lexend Deca", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: small;
}

.btn-card-staff {
    position: relative;
    z-index: 2;
    font-family: "Lexend Deca", sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border: #ffffff solid 2px;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-card-staff:hover {
    border: #EC1C24 solid 2px;
    background-color: rgba(255, 255, 255, 1);
    color: #EC1C24;
    font-weight: 700;
}

.btn-card-staff:active {
    border: #EC1C24 solid 2px;
    background-color: #EC1C24;
    color: #ffffff;
    font-weight: 700;
}