@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.main-footer {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.content-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.logo-footer {
    width: 60%;
}

.title-text-footer {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.content-text-footer {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}

.copyright-footer {
    background-color: #EC1C24;
    color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    padding: 10px 10px 10px 5%;
}