* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/background_Login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh;
    width: 100%;
}

.request > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: fit-content;
    border-radius: 25px;
    background-color: #ffffffae;
    border: #ffffff 3px solid;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
}

.request > form > img {
    width: 50%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.request > form > .login-box {
    background-color: rgba(255, 255, 255);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 25vw;
    height: fit-content;
    position: relative;
}

.request > form > .login-box > h1 {
    font-size: 24px;
    font-weight: bold;
    color: #EC1C24;
    margin-bottom: 20px;
    text-align: center;
}

.request > form > .login-box > .input-box {
    position: relative;
    width: 100%;
}

.label {
    position: absolute;
    font-size: 14px;
    color: #b6b6b6;
    left: 10px;
    top: 10px;
}

.input-feild {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100%);
}

.input-feild:focus {
    border: #EC1C24 1px solid;
    outline: none;
}


.input-feild:focus ~ .label,
.input-feild:valid ~ .label {
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 14px;
    color: #EC1C24;
    font-weight: bold;
    background-color: white;
    padding: 0 5px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.request > form > .login-box > button {
    background-color: #EC1C24;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.request > form > .login-box > button:hover {
    background-color: #ea4e53;
}

.request > form > .login-box > button:active {
    background-color: #ffffff;
}

.request > form > p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.request > form > a {
    color: #EC1C24;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 30px;
}

.request > form > a:hover {
    text-decoration: underline;
}

.request > form > .login-box > p {
    color: #EC1C24;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}