* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/background_Login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh;
    width: 100%;
    position: relative;
}

.request::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.6);
    height: 100%;
    width: 100%;
}

@keyframes request-form-animation {
    0% {
        width: 0px;
    }
    90% {
        width: 60%;
    }
}

.request-form {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    width: 60%;
    height: 70%;
    animation: 1s login-form-animation 0s forwards;
}

@keyframes login-form-enter-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.enter-zone-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 1s login-form-enter-animation 0s forwards;
}

.enter-zone-request > img {
    width: 50%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.enter-zone-request > .request-box {
    width: 80%;
    position: relative;
}

.enter-zone-request > .request-box > h1 {
    font-size: 24px;
    font-weight: 500;
    color: #EC1C24;
    margin-bottom: 20px;
    text-align: center;
}

.enter-zone-request > .request-box > p {
    font-size: 14px;
    font-weight: 500;
    color: #EC1C24;
    margin-bottom: 20px;
    text-align: center;
}

.enter-zone-request > .request-box > .input-box {
    position: relative;
    width: 100%;
}

.label-request {
    position: absolute;
    font-size: 14px;
    color: #b6b6b6;
    left: 0;
    top: 10px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
}

.input-feild-request {
    padding: 10px 10px 10px 0px;
    margin-bottom: 40px;
    border: #263767 0px solid;
    border-bottom: #263767 2px solid;
    width: 100%;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
}

.input-feild-request:focus {
    border: #263767 0px solid;
    border-bottom: #263767 2px solid;
    outline: none;
}

.input-feild-request:focus ~ .label-request {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    color: #EC1C24;
    background-color: white;
    padding: 0 0px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.input-feild-request:valid ~ .label-request {
    display: none;
}

.request-box > button {
    background-color: #EC1C24;
    width: 100%;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 10px;
    transform-origin: center; /* tâm thu nhỏ */
    transition: transform 0.1s ease;
}

.request-box > button:hover {
    outline: 2px solid #ffffff; 
    box-shadow: 0 0 0 4px #EC1C24; 
}

.request-box > button:active {
    background-color: #ec1c23c6;
    transform: scale(0.98);
}

.enter-zone-request > p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #263767;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.enter-zone-request > a {
    color: #EC1C24;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
}

.enter-zone-request > a:hover {
    text-decoration: underline;
}

.image-zone-request {
    overflow: hidden;
    background-color: #263767;
    width: 100%;
    border-radius: 30px;
}

.image-zone-request > img {
    height: 100%;
}